body{
    background-color: #1d3557;
}
h1{
    color: #fcbb6d;
    background-color: #685d79;
}
ol{
    color: #f1faee;
    background-color: #d8737f;
}
ul{
    list-style-type: none;
}
ul li::before{
    content: "\2022";
    color: #fcbb6d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}
ol>li:nth-child(odd){
    background-color: #ab6c82;
}
ol>li:nth-child(even){
    background-color: #685d79;
}